@{
    ViewData["Title"] = "Home Page";
}
<section class="Contenedor">
    <h1>Elija una opción</h1>
    <div class="Eleccion">
        <form action="@Url.Action("Album", "Home")">
            <button type="submit"></button>
        </form>
        <form action="@Url.Action("AbrirSobre", "Home")">
            <button class="Sobre" type="submit"></button>
        </form>
    </div>      
</section>