@{
    ViewData["Title"] = "Home Page";
}
<section class="Contenedor">
    <h1>Elija una opción</h1>
    <div class="Eleccion">
        <form action="@Url.Action("Album", "Home")">
            <img src="~/images/album.png">
            <button type="submit">Album</button>
        </form>
        <form action="@Url.Action("AbrirSobre", "Home")">
            <img src="~/images/sobre.png">
            <button type="submit">Sobre</button>
        </form>
    </div>      
</section>