@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Elija una opción</h1> 
</div>
<form action="@Url.Action("Album", "Home")" methot="POST">
    <button type="submit">Album</button>
</form>
<form action="@Url.Action("Sobre", "Home")" methot="POST">
    <button type="submit">Sobre</button>
</form> 